<component name="ArtifactManager">
  <artifact type="war" name="MyBatis-reverse:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="MyBatis-reverse.war">
      <element id="artifact" artifact-name="MyBatis-reverse:war exploded" />
    </root>
  </artifact>
</component>